@import url("https://catppuccin.github.io/discord/dist/catppuccin-macchiato-mauve.theme.css");

.chat__52833 {
  margin-right: 10px !important;
}

.panels__58331 {
  margin-top: 5px !important;
} 
.container__5eb17, .buttonWrapper__69593 {
display: none;
}
.buttonChild__7b90d {
  display: block !important;
}