@import url("https://catppuccin.github.io/discord/dist/catppuccin-macchiato-mauve.theme.css");

.chat__52833 {
  margin-right: 10px !important;
}

.panels__58331 {
  margin-top: 5px !important;
} 
.container__5eb17, .buttonWrapper__69593 {
display: none;
}
.buttonChild__7b90d {
  display: block !important;
}

:root {
    --font-primary: 'Red Hat Text', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-display: 'Red Hat Display Black', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-headline: 'Red Hat Display Black', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-code: 'JetBrains Mono', 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
}