@import url("https://catppuccin.github.io/discord/dist/catppuccin-macchiato-mauve.theme.css");

.chat__52833 {
  margin-right: 0px !important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.panels__58331 {
  margin-top: 5px !important;
} 
.container__5eb17, .buttonWrapper__69593 {
display: none;
}
.buttonChild__7b90d {
  display: block !important;
}
.wrapper_a7e7a8 {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

:root {
    --font-primary: 'Red Hat Text';
    --font-display: 'Josefin Sans SemiBold';
    --font-headline: 'Red Hat Display Black';
    --font-code: 'JetBrains Mono';
}