@import "macchiato.css";

* {
/* font size 17px */
  font-family: Red Hat Display;
  font-size: 9px;
    min-height: 0px;
}

#waybar {
  background: @mantle;
  color: @text;
  margin: 10px;
  border: 2px solid @surface0;
  border-radius: 3em;

}


#window,
#tray,
#image,
#backlight,
#battery,
#pulseaudio,
#workspaces,
#custom-button,
#custom-music,
#custom-power {
  font-size: 12pt;
  font-weight: 900;
  background-color: #363a4f;
  border-radius: 3em;
  padding: 0.4em 0.7em 0.4em 0.7em;
  margin: 0.5em;
}

#workspaces {
  	color: @red;
  	padding: 10px;
  	padding-left: 5px;
  	padding-right: 5px;
 	border-width: 0;
 	border-radius: 100;
}
#workspaces button.visible {
	font-size: 1px;
	padding: 0px 6px 0px 6px;
	margin: 0px;
	margin-left: 5px;
	margin-right: 5px;
	border-width: 0px;
	background-color: @mauve;
	border-radius: 100;
}
#workspaces button {
	font-size: 1px;
	padding: 0;
	margin: 0px;
	margin-left: 5px;
	margin-right: 5px;
	border-width: 0px;	
	background-color: @overlay0;
	border-radius: 100;
}
#workspaces button:hover {	
	background-color: @subtext1;
}
#custom-button.close {
  color: @red;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 7px;
  margin-right: 0;
  border-radius: 3em 0em 0em 3em;
}
#custom-button.minimize {
  color: @yellow;
    padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0;
  border-radius: 0em;
  margin-right: 0;
  padding-left: 8px;
  padding-right: 10px;
  
}

#clock {
  color: @text;
  font-family: Red Hat Display Black;
  font-weight: 900;
  font-size: 22pt;
  margin: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0;
}

#battery {
  color: @yellow;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#pulseaudio {
  color: @teal;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#image {
	padding: 0;
	padding-left: 0em;
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em; 
	border-top: 0;
	border-left: 1em;
	border-bottom: 0;
	border-radius: 0;
}
#custom-music {
  color: @blue;
  font-weight: normal;
  margin-left: 0;
  border-left: 0;
  border-right: 0;
  padding-right: 0px;
  border-radius: 0em 3em 3em 0em;
}


.artist {
	font-weight: normal;
}
/*#custom-music.music2 {
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}*/

#custom-power {
 	padding-top: 5px;
 	padding-bottom: 5px;
  	padding-right: 10px;
    color: @red;
    margin-left: 0;
    border-radius: 0 3em 3em 0;
}

#window {
    color: @mauve;
    border-radius: 0em 3em 3em 0em;
    margin-left: 0;
}

#tray {
  padding-left:0.5em;
  padding-right:0.6em;
  margin-right: 0;
  
  border-radius: 3em 0em 0em 3em;
}
